In [1]:
import pandas as pd
import numpy as np
from env import mysqlcon,db,host,password,protocol,user

Create a notebook or python script named advanced_dataframes to do your work in for these exercises.

Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)
cd into your exercises folder for this module and run echo env.py >> .gitignore
Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
Use your function to obtain a connection to the employees database.
Once you have successfully run a query:
a. Intentionally make a typo in the database url. What kind of error message do you see?
b. Intentionally make an error in your SQL query. What does the error message look like?
Read the employees and titles tables into two separate DataFrames.
How many rows and columns do you have in each DataFrame? Is that what you expected?
Display the summary statistics for each DataFrame.
How many unique titles are in the titles DataFrame?
What is the oldest date in the to_date column?
What is the most recent date in the to_date column?

In [3]:
#Create a function named get_db_url. It should accept a username, hostname, password, 
#and database name and return a url connection string formatted like 
#in the example at the start of this lesson.

def get_db_url(protocol,user,password,host,db):
    url = f"{protocol}://{user}:{password}@{host}/{db}"
    return url

In [5]:
url=get_db_url(protocol,user,password,host,'employees')

In [6]:
pd.read_sql('select * from employees limit 5', url)

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [7]:
#Intentionally make a typo in the database url. What kind of error message do you see?
pd.read_sql('select * from employees limit 5', urll)

NameError: name 'urll' is not defined

In [8]:
#Intentionally make an error in your SQL query. What does the error message look like?
pd.read_sql('select * from employedes limit 5', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employedes' doesn't exist")
[SQL: select * from employedes limit 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [16]:
#Read the employees and titles tables into two separate DataFrames.
df = pd.read_sql('select * from employees', url)

In [18]:
df1 = pd.read_sql('select * from titles ', url)

In [17]:
#How many rows and columns do you have in each DataFrame? Is that what you expected?
df.shape

(300024, 6)

In [19]:
df1.shape

(443308, 4)

In [20]:
#Display the summary statistics for each DataFrame.
df.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [21]:
df1.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [28]:
#How many unique titles are in the titles DataFrame?
df1.title.unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

In [29]:
len(df1.title.unique())

7

In [30]:
df1.title.nunique()

7

In [31]:
#What is the oldest date in the to_date column?
df1.to_date.min()

datetime.date(1985, 3, 1)

In [32]:
df1.to_date.sort_values().head(1)

16064    1985-03-01
Name: to_date, dtype: object

In [33]:
#What is the most recent date in the to_date column?
df1.to_date.max()

datetime.date(9999, 1, 1)

In [40]:
#gives the next max after the not equation
df1.to_date[df1.to_date != df1.to_date.max()].max()

datetime.date(2002, 8, 1)