In [1]:
#List are created with [] and can hold different data types
my_list = [1,2,3]

In [2]:
my_list = ['STRING', 1, 20.1]

In [3]:
#len() insert list variable to see the lenght of your list
len(my_list)

3

In [4]:
mylist = ['one', 'two','three']

In [5]:
#list can use indexing and slicing just like a string 
mylist[0]

'one'

In [6]:
mylist[1]

'two'

In [7]:
mylist[2]

'three'

In [8]:
#slicing
mylist[1:]

['two', 'three']

In [11]:
mylist[1:]

['two', 'three']

In [20]:
mylist[-1:]

['three']

In [24]:
another_list = ['ONE', 'TWO']

In [25]:
#Concats the two list and gives the output
#output isnt saved as a new list
another_list + mylist

['ONE', 'TWO', 'one', 'two', 'three']

In [43]:
#creates new list of the concated two list
#output is now saved as variable newlist
newlist = another_list + mylist

In [27]:
newlist

['ONE', 'TWO', 'one', 'two', 'three']

In [28]:
#list items can be changed inside the list unlike strings
#'ONE' above in index[0] is being changed below
newlist[0] = 'ONE ALL CAP'

In [29]:
newlist

['ONE ALL CAP', 'TWO', 'one', 'two', 'three']

In [31]:
#newlist.TAB button open method list
#The .append() method adds the new data type to the end of the list
newlist.append('SIX')

In [32]:
newlist

['ONE ALL CAP', 'TWO', 'one', 'two', 'three', 'SIX']

In [41]:
# .pop() method removes the item at the end of the list
#can pop out any list item by passing in the index in the method newlist.pop(1)
newlist.pop()

'TWO'

In [44]:
newlist

['ONE', 'TWO', 'one', 'two', 'three']

In [35]:
popped_item = newlist.pop()# adds the popped item form the list to the popped_item variable

In [37]:
popped_item

'three'

In [53]:
sort_letters = ['a', 'b', 'd', 'c']
sort_numbers = [1,5,3,2,4]

In [48]:
#sorts the list alphabetically returns nothing is a nontype.
sort_numbers.sort()

In [60]:
#run sort_letters after sorting and see they are output in alphabet order
sort_letters.sort()
sort_letters.reverse()

In [61]:
sort_letters

['d', 'c', 'b', 'a']

In [54]:
sort_numbers.sort()

In [55]:
sort_numbers

[1, 2, 3, 4, 5]

In [56]:
# .reverse() sorts the list in revers order
sort_numbers.reverse()

In [57]:
sort_numbers

[5, 4, 3, 2, 1]

In [66]:
# 1,1, represent index 0 and 1 and nested list[] represents index 2
nestedlist = [1,1,[1,2]]

In [79]:
#index two is the nested list and inside of it the number 2 resides at index one
nestedlist[2][1]

2