## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [1]:
type(123)

int

In [2]:
type(123.0)

float

In [3]:
type('Hello')

str

In [4]:
type(True)

bool

In [5]:
type(False)

bool

### Assigning a variable

In [15]:
favorite_number = 42
n = favorie_number

In [16]:
type(favorite_number)

int

In [18]:
n = favorite_number

In [19]:
type(n)

int

---

## Variables

In [20]:
x = 1
print(x)

#add 1 to the value of x
x = x + 1

print(x)
x = x * 3
print(x)

1
2
6

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

#### Example: Running a cell multiple times

In [21]:
number = 6

6

number = number + 1
print(number)

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [27]:
True == True

True

In [28]:
True == False

False

In [29]:
True != True

False

In [30]:
True != False

True

In [31]:
5 == 4 + 1

True

In [32]:
5.01 == 5

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [33]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

### Operations with strings

In [34]:
'hello' == 'hello'

True

In [35]:
'Hello' == 'hello'

False

### Examples

In [37]:
'abc' + 'def' + '  ghi'

'abcdef  ghi'

### Formatting strings

In [40]:
my_name = 'DeAdrien'

In [42]:
'Hello, %s! How are you doing?' % my_name

'Hello, DeAdrien! How are you doing?'

### Examples

In [43]:
'Hello, {}!'.format(my_name)

'Hello, DeAdrien!'

In [44]:
f'Hello, {my_name}! How are you doing?'

'Hello, DeAdrien! How are you doing?'

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [46]:
s = ' Hello, world! '

In [47]:
s.lower()

' hello, world! '

In [48]:
print(s)

 Hello, world!

In [49]:
s.strip()

'Hello, world!'

In [51]:
a = '123'

In [54]:
b = '123, Main, Street'

b.lower().split(', ')

['123', 'main', 'street']

In [52]:
a.isdigit()

True

In [55]:
', '.join(['one', 'two', 'three'])

'one, two, three'

---

## Lists

In [58]:
list_of_lists = [[1,2,3,4],[5,6,7,8],[9,10]]
list_of_lists

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]

### Creating a list

In [60]:
[n for n in range(10)]
# does not include 10 in the range starts at 0 not 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [62]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

In [69]:
numbers = [1,2,3]

In [70]:
## add 4 to the list
numbers.append(4)
numbers

[1, 2, 3, 4]

In [72]:
numbers.pop()
numbers

[1, 2]

In [76]:
len(numbers)

2

In [77]:
## index
numbers[1]

2

In [78]:
numbers[:2]

[1, 2]

### List comprehensions

In [79]:
## converting to a list 
list ('a bc de')

['a', ' ', 'b', 'c', ' ', 'd', 'e']

In [80]:
## makes a list from 0 - 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
my_numbers = [1, 2, 3]
list(map(str, my_numbers))

['1', '2', '3']

### List Operations

In [83]:
my_string_numbers = ['1', '2', '3']

In [84]:
my_string_numbers

['1', '2', '3']

---

## Tuples

In [86]:
my_tuple = (1, 2, 3)

In [87]:
type(my_tuple)

tuple

In [88]:
my_tuple[1]

2


---

## Dictionaries

In [93]:
my_dictionary = {
    'name' : 'Codeup',
    'age' : 9
}

In [94]:
my_dictionary

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [95]:
dict(name = 'Codeup', age = 9)

{'name': 'Codeup', 'age': 9}

In [97]:
my_new_dictionary = dict(name = 'Codeup', age = 9)
my_new_dictionary

{'name': 'Codeup', 'age': 9}

### Accessing dictionary values

In [99]:
school = dict(name = 'Codeup', age = 9 )
school['name']

'Codeup'

In [100]:
school['age'] += 1
## take the value of 'age'
## adds 1 
## updates the dictionary

In [101]:
school

{'name': 'Codeup', 'age': 10}

## Changing data types

```python
int()
```

```python
str()
```

In [102]:
a = 3
type(a)

int

In [103]:
str(3)

'3'

In [105]:
b = '6'
int(b)

6

In [107]:
b = int(b)
b

6

In [108]:
int(True)

1

In [109]:
int(False)

0

### Examples

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [110]:
name = input ("What is your name?")
print(name)

What is your name?Jackie Long
Jackie Long

# Python Exercises
1. Identify the data type of the following values:

In [112]:
type(99.9)

float

In [113]:
type("False")

str

In [114]:
type(False)

bool

In [115]:
type('0')

str

In [116]:
type(0)

int

In [117]:
type(True)

bool

In [118]:
type('True')

str

In [119]:
type([{}])

list

In [120]:
type({'a': []})

dict

2. What data type would best represent the following?
A term or phrase typed into a search box
-string
Whether or not a user is logged in
-bool
A discount amount to apply to a user's shopping cart
-float
Whether or not a coupon code is valid
-bool
An email address typed into a registration form
-string
The price of a product
-float 
The email addresses collected from a registration form
-string
Information about applicants to Codeup's data science program
-string & int

3. For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [121]:
'1' + 2
#error can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [122]:
6 % 4

2

In [123]:
type(6 % 4)

int

In [124]:
type(type(6 % 4))

type

In [125]:
'3 + 4 is ' + 3 + 4
##can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [126]:
0 < 0

False

In [127]:
'False' == False

False

In [128]:
True == 'True'

False

In [129]:
5 >= -5

True

In [130]:
True or "42"

True

In [131]:
6 % 5

1

In [132]:
5 < 4 and 1 == 1

False

In [133]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [134]:
4 >= 0 and 1 !== '1'
## invalid syntax

SyntaxError: invalid syntax (3850088429.py, line 1)

In [135]:
6 % 3 == 0

True

In [136]:
5 % 2 != 0

True

In [137]:
[1] + 2
#can only concatenate listt (not "int") to list

TypeError: can only concatenate list (not "int") to list

In [138]:
[1] + [2]

[1, 2]

In [139]:
[1] * 2

[1, 1]

In [140]:
[1] * [2]
#can't multiply squence by non-in of type 'list'

TypeError: can't multiply sequence by non-int of type 'list'

In [141]:
[] + [] == []

True

In [142]:
{} + {}
#unsupported operand type(s) for +: 'dict' and 'dict'

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [144]:
9 * 3

27

In [145]:
(10 * 350) + (6 * 400) + (4 * 380)

7420

In [ ]:
Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [150]:
enrolled_class = True
class_not_full = False
class_schedule_conflict = False

In [151]:
class_not_full == class_schedule_conflict
print(enrolled_class)

True

In [ ]:
8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [152]:
regular_member_buy_two = True
offer_expired = False
premium_members_buy_two = False
product_offer = True

In [154]:
offer_expired != regular_member_buy_two 
print(product_offer)

True

In [155]:
premium_members_buy_two != regular_member_buy_two
print(product_offer)

True

In [ ]:
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus Neither the username or password can start or end with whitespace

In [156]:
password = 'jackrabbit'
username = 'BuggsBunny'

In [157]:
username

'BuggsBunny'

In [158]:
password

'jackrabbit'