In [7]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?
###A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, 
###much like a spreadsheet

2. What information can we obtain about a dataframe?
##The information contains the number of columns, column labels, column data types, memory usage, 
##range index, and the number of cells in each column (non-null values). 
##Note: the info() method actually prints the info.

3. How have we interacted with a dataframe?
##Answered questions based on the data.

#Practice Exercises¶
Information about a dataframe

Obtain the following information:
dimensions
dtypes
column names
summary statistics

Working with dataframes

What is the highest HP value present?
Create a function named highest_attack.
Use the loaded dataframe as an argument.

Which Pokemon possess(es) the highest HP value?

How many different types are represented in Type 1?
Create a function named num_types
Use the loaded dataframe as an argument

Number of Pokemon whose Type 2 is Ghost

Percentage of Pokemon whose Type 2 is Ghost
Create a function named percent_ghost
Use the loaded dataframe as an argument

Number of Pokemon whose Attack is greater than Defense

Lowest speed for Grass or Rock

Change all the column names
lowercase letters
remove whitespace

Rename Sp. Attack to special-attack

Rename Sp. Def to special-defense

Which Pokemon has/have the greatest difference in:
Attack and Defense points
Special Attack and Special Defense

How many Pokemon are of Type 1 Rock and Type 2 Fairy?

Which Fire Pokemon appears last alphabetically?
Create a function named last_pokemon
Use the loaded dataframe as an argument

Bonus

Find the average speed by Generation

Create a function which acccepts:
a dataframe
two different Pokemon stats e.g. Attack and Defense

The function will:
Calculate difference between the two given Pokemon stats
Create a column which contains the difference of the two given Pokemon stats named stats-diff

Information about a dataframe¶
Obtain the following information:
dimensions
dtypes
column names
summary statistics

In [524]:
df.shape

(800, 13)

In [525]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [17]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

What is the highest HP value present?
Create a function named highest_attack.
Use the loaded dataframe as an argument.

In [60]:
df.HP.max()

255

In [111]:
Name = df
def highest_attack(Name):
    
    df[['Name','Attack']].max()
    
    return df[['Name','Attack']].max()

In [117]:
highest_attack(Name)

Name      Zygarde50% Forme
Attack                 190
dtype: object

Which Pokemon possess(es) the highest HP value?

In [2]:
df[['Name', "HP"]].max()

Name    Zygarde50% Forme
HP                   255
dtype: object

How many different types are represented in Type 1?
Create a function named num_types
Use the loaded dataframe as an argument

In [129]:
df['Type 1'].nunique()

18

In [143]:
type1 = df
def num_types(type1):
    df['Type 1'].nunique()
    return df['Type 1'].nunique()

In [142]:
num_types(type1)

18

Number of Pokemon whose Type 2 is Ghost

In [515]:
df[df['Type 2']=='Ghost']['Type 2'].count()

14

Percentage of Pokemon whose Type 2 is Ghost
Create a function named percent_ghost
Use the loaded dataframe as an argument

In [513]:
df[df['Type 2']=='Ghost']['Type 2'].count()

14

In [354]:
df[['Type 2']].count()

Type 2    414
dtype: int64

In [509]:
df[df['Type 2']=='Ghost']['Type 2'].count() / df[['Type 2']].count()

Type 2    0.033816
dtype: float64

In [510]:
ghost = df[df['Type 2']=='Ghost']['Type 2'].count() / df[['Type 2']].count()
def percent_ghost(ghost):
    df[df['Type 2']=='Ghost']['Type 2'].count() / df[['Type 2']].count()
    return ghost

In [511]:
percent_ghost(ghost)

Type 2    0.033816
dtype: float64

Number of Pokemon whose Attack is greater than Defense

In [470]:
mask = df.Attack > df.Defense
len(df[mask])

445

In [471]:
mask.sum()

445

Lowest speed for Grass or Rock

In [505]:
df[df['Type 1']=='Grass'].Speed.min()

10

In [506]:
df[df['Type 1']=='Rock'].Speed.min()

10

Change all the column names
lowercase letters
remove whitespace

In [516]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,5,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,5,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,10,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,15,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,15,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,200,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,200,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,230,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,230,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,230,130,90,70,6,True

In [37]:
#rename columns
df.rename(columns={"name": 'Name'})

,#,Name,type 1,type 2,total,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [38]:
#Makes all columns lowercase
df.columns = map(str.lower, df.columns)

In [39]:
df

,#,name,type 1,type 2,total,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [45]:
#To remove white space everywhere:
df.columns = df.columns.str.replace(' ', '')

In [46]:
df

,#,name,type1,type2,total,hp,attack,defense,sp.atk,sp.def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Rename Sp. Attack to special-attack

In [61]:
#rename one column
df = df.rename(columns={'sp.atk':'special-attack'})

In [62]:
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,sp.def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Rename Sp. Def to special-defense

In [66]:
#rename one column
df = df.rename(columns={'sp.def':'special-defense'})

In [67]:
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Which Pokemon has/have the greatest difference in:
Attack and Defense points
Special Attack and Special Defense

In [198]:
#Attack and Defense points
df.attack - df.defense

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Length: 800, dtype: int64

In [199]:
#Attack and Defense points
df['addif']= df.attack - df.defense

In [233]:
df[['name','attack','defense', 'addif']].groupby(by='addif').max()

                        name  attack  defense
addif
-220                 Shuckle      10      230
-116               Bastiodon      52      168
-115                 Steelix      85      200
-105     SteelixMega Steelix     125      230
-100                Regirock     100      200
...                      ...     ...      ...
 90      MewtwoMega Mewtwo X     190      100
 100      HoopaHoopa Unbound     160       60
 105               Rampardos     165       60
 110   BeedrillMega Beedrill     150       40
 160      DeoxysAttack Forme     180       20

[121 rows x 3 columns]

In [237]:
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,addif
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,-50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,-10

In [238]:
#Special Attack and Special Defense
df['spad']= df['special-attack']- df['special-defense']

In [245]:
df[['name','special-attack','special-defense','spad']].groupby('spad').max()

                       name  special-attack  special-defense
spad
-220                Shuckle              10              230
-100                 Regice             100              200
-91               Bastiodon              47              138
-90     DeoxysDefense Forme              70              160
-75               Registeel              75              150
...                     ...             ...              ...
 74     MewtwoMega Mewtwo Y             194              120
 75       GengarMega Gengar             170               95
 80   RayquazaMega Rayquaza             180              100
 100     DeoxysNormal Forme             150               50
 160     DeoxysAttack Forme             180               20

[104 rows x 3 columns]

How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [303]:
#How many Pokemon are of Type 1 Rock and Type 2 Fairy?
df[df['type1']=='Rock'][df['type2']=='Fairy'].count()

/var/folders/nl/h7bb3qxn0s5dcp9j1thjq_4h0000gn/T/ipykernel_27774/1355116956.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['type1']=='Rock'][df['type2']=='Fairy'].count()

#                  3
name               3
type1              3
type2              3
total              3
hp                 3
attack             3
defense            3
special-attack     3
special-defense    3
speed              3
generation         3
legendary          3
addif              3
spad               3
dtype: int64

In [313]:
#How many Pokemon are of Type 1 Rock and Type 2 Fairy?
df[df['type2']=='Fairy'].groupby(by='type1').count()

,#,name,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,addif,spad
type1,,,,,,,,,,,,,,
Dragon,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Electric,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Grass,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Normal,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Psychic,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Rock,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Steel,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Water,2,2,2,2,2,2,2,2,2,2,2,2,2,2

Which Fire Pokemon appears last alphabetically?
Create a function named last_pokemon
Use the loaded dataframe as an argument

In [ ]:
def last_pokemon():

In [416]:
df.sort_values(['name','type1','type2'], ascending = True)

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,addif,spad
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False,17,7
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False,27,27
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,5,50
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False,70,15
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False,90,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False,45,60
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False,25,40
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False,10,-10
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False,15,-5
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,-21,-14

In [340]:
df[df['type2']=='Fire'].groupby(by='type1').max()

,#,name,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,addif,spad
type1,,,,,,,,,,,,,,
Dragon,643,Reshiram,Fire,680,100,120,100,150,120,90,5,True,20,30
Electric,479,RotomHeat Rotom,Fire,520,50,65,107,105,107,86,4,False,-42,-2
Ghost,609,Litwick,Fire,520,60,55,90,145,90,80,5,False,-20,55
Ground,383,GroudonPrimal Groudon,Fire,770,100,180,160,150,90,90,3,True,20,60
Psychic,494,Victini,Fire,600,100,100,100,100,100,100,5,True,0,0

In [382]:
df[df['type1']=='Fire'][df['type2']=='Fire']

/var/folders/nl/h7bb3qxn0s5dcp9j1thjq_4h0000gn/T/ipykernel_27774/1377684578.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['type1']=='Fire'][df['type2']=='Fire']

Empty DataFrame
Columns: [#, name, type1, type2, total, hp, attack, defense, special-attack, special-defense, speed, generation, legendary, addif, spad]
Index: []

TypeError: string indices must be integers