3. Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

Use Series attributes and methods to explore your fruits Series.

Determine the number of elements in fruits.
#17

Output only the index from fruits.
#RangeIndex(start=0, stop=17, step=1)

Output only the values from fruits.
#array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Confirm the data type of the values in fruits.
#dtype('O')

Output only the first five values from fruits. Output the last three values. Output two random values from #
#fruits.
0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

#tail
14    blackberry
15    gooseberry
16        papaya
dtype: object

#sample
13     blueberry
2     strawberry
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

#count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

Determine how many times each unique string value occurs in fruits.

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64




Determine the string value that occurs most frequently in fruits.
kiwi    4
dtype: int64


Determine the string value that occurs least frequently in fruits.

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
dtype: int64

In [73]:
import numpy as np
import pandas as pd

In [231]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [81]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [82]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [83]:
fruits.dtype

dtype('O')

In [85]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [88]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [89]:
fruits.sample(2)

13     blueberry
2     strawberry
dtype: object

In [90]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [91]:
fruits.unique

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [92]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [95]:
fruit_count = fruits.value_counts()
fruit_count.head(1)

kiwi    4
dtype: int64

In [102]:
fruits.value_counts().nsmallest()

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
dtype: int64

5. Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object


Count the letter "a" in all the string values (use string vectorization).

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

####Output the number of vowels in each and every string value.


Write the code to get the longest string value from fruits.
Write the code to get the string values with 5 or more letters in the name.
Find the fruit(s) containing the letter "o" two or more times.
Write the code to get only the string values containing the substring "berry".
Write the code to get only the string values containing the substring "apple".
Which string value contains the most vowels?

In [104]:
fruits.str.count()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

AttributeError: 'list' object has no attribute 'max'

Series([], dtype: object)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

False    13
True      7
dtype: int64

0     a
4     e
8     i
11    e
13    i
15    i
18    o
dtype: object

In [249]:
fru.isin(vowels)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [247]:
vowels

['a', 'e', 'i', 'o', 'u']