In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

## Discussion 


1. What is a dataframe?
###A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, 
###much like a spreadsheet

2. What information can we obtain about a dataframe?
##The information contains the number of columns, column labels, column data types, memory usage, 
##range index, and the number of cells in each column (non-null values). 
##Note: the info() method actually prints the info.

3. How have we interacted with a dataframe?
##Answered questions based on the data.

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

---

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


8. Lowest speed for Grass or Rock


10. Change all the column names

      - lowercase letters
      - remove whitespace


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?


15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

Information about a dataframe¶
Obtain the following information:
dimensions
dtypes
column names
summary statistics

In [7]:
df.shape

(800, 13)

In [14]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [17]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

What is the highest HP value present?
Create a function named highest_attack.
Use the loaded dataframe as an argument.

In [60]:
df.HP.max()

255

In [111]:
Name = df
def highest_attack(Name):
    
    df[['Name','Attack']].max()
    
    return df[['Name','Attack']].max()

In [117]:
highest_attack(Name)

Name      Zygarde50% Forme
Attack                 190
dtype: object

Which Pokemon possess(es) the highest HP value?

In [118]:
df[['Name', "HP"]].max()

Name    Zygarde50% Forme
HP                   255
dtype: object

How many different types are represented in Type 1?
Create a function named num_types
Use the loaded dataframe as an argument

In [129]:
df['Type 1'].nunique()

18

In [143]:
type1 = df
def num_types(type1):
    df['Type 1'].nunique()
    return df['Type 1'].nunique()

In [142]:
num_types(type1)

18

Number of Pokemon whose Type 2 is Ghost

In [515]:
df[df['Type 2']=='Ghost']['Type 2'].count()

14

Percentage of Pokemon whose Type 2 is Ghost
Create a function named percent_ghost
Use the loaded dataframe as an argument

In [513]:
df[df['Type 2']=='Ghost']['Type 2'].count()

14

In [354]:
df[['Type 2']].count()

Type 2    414
dtype: int64

In [509]:
df[df['Type 2']=='Ghost']['Type 2'].count() / df[['Type 2']].count()

Type 2    0.033816
dtype: float64

In [510]:
ghost = df[df['Type 2']=='Ghost']['Type 2'].count() / df[['Type 2']].count()
def percent_ghost(ghost):
    df[df['Type 2']=='Ghost']['Type 2'].count() / df[['Type 2']].count()
    return ghost

In [511]:
percent_ghost(ghost)

Type 2    0.033816
dtype: float64

Number of Pokemon whose Attack is greater than Defense

In [470]:
mask = df.Attack > df.Defense
len(df[mask])

445

In [471]:
mask.sum()

445

Lowest speed for Grass or Rock

In [505]:
df[df['Type 1']=='Grass'].Speed.min()

10

In [506]:
df[df['Type 1']=='Rock'].Speed.min()

10

Change all the column names
lowercase letters
remove whitespace

In [516]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,5,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,5,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,10,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,15,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,15,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,200,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,200,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,230,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,230,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,230,130,90,70,6,True

In [517]:
df.rename(columns={"Name": "name", "Type 1": "type1", "Type 2":'type2','Total':'total','HP':'hp', 'Attack':'attack',
                  'Defense': 'defense', 'Sp.Atk':'sp.atk', 'Sp.Def' : 'sp.def', 'Speed':'speed', 'Generation':'generation',
                  'Legendary':'legendary'})

,#,name,type1,type2,total,hp,attack,defense,Sp. Atk,Sp. Def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,5,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,5,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,10,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,15,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,15,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,200,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,200,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,230,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,230,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,230,130,90,70,6,True