3. Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

Use Series attributes and methods to explore your fruits Series.

Determine the number of elements in fruits.
#17

Output only the index from fruits.
#RangeIndex(start=0, stop=17, step=1)

Output only the values from fruits.
#array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Confirm the data type of the values in fruits.
#dtype('O')

Output only the first five values from fruits. Output the last three values. Output two random values from #
#fruits.
0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

#tail
14    blackberry
15    gooseberry
16        papaya
dtype: object

#sample
13     blueberry
2     strawberry
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

#count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

Determine how many times each unique string value occurs in fruits.

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64




Determine the string value that occurs most frequently in fruits.
kiwi    4
dtype: int64


Determine the string value that occurs least frequently in fruits.

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
dtype: int64

In [3]:
import numpy as np
import pandas as pd

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [81]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [82]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [83]:
fruits.dtype

dtype('O')

In [85]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [88]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [89]:
fruits.sample(2)

13     blueberry
2     strawberry
dtype: object

In [90]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [91]:
fruits.unique

<bound method Series.unique of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [92]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [95]:
fruit_count = fruits.value_counts()
fruit_count.head(1)

kiwi    4
dtype: int64

In [102]:
fruits.value_counts().nsmallest()

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
dtype: int64

5. Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object


Count the letter "a" in all the string values (use string vectorization).

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

####Output the number of vowels in each and every string value.


##Write the code to get the longest string value from fruits.



Write the code to get the string values with 5 or more letters in the name.

fruits[fruits.apply(len) >= 5]
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Find the fruit(s) containing the letter "o" two or more times.

fruits.str.lower().str.count('o') >= 2
o_mask = fruits.str.lower().str.count('o') >= 2
fruits[o_mask]



Write the code to get only the string values containing the substring "berry".

fruits.apply(lambda x: 'berry' in x)
fruits[fruits.apply(lambda x: 'berry' in x)]

Write the code to get only the string values containing the substring "apple".


Which string value contains the most vowels?

In [42]:
fruits[fruits.str.count('[aeiou]')fruits.str.count('[aeiou]').max()]

SyntaxError: invalid syntax (2520060085.py, line 1)

In [36]:
fruits.apply(lambda x: 'berry' in x)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

In [37]:
fruits[fruits.apply(lambda x: 'berry' in x)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [104]:
fruits.str.count()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [25]:
def count_vowels(some_string):
    for letter in some_string:
        if letter in 'aeiou':
            counter += 1
        return counter

In [26]:
fruits.apply(count_vowels)

UnboundLocalError: local variable 'counter' referenced before assignment

In [9]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [22]:
sum(fruits.apply(count_vowels))

UnboundLocalError: local variable 'counter' referenced before assignment

In [23]:
fruits.apply(len)

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [29]:
fruits[fruits.apply(len) >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [31]:
fruits.str.lower().str.count('o') >= 2

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
dtype: bool

In [34]:
o_mask = fruits.str.lower().str.count('o') >= 2

In [35]:
fruits[o_mask]

6         tomato
15    gooseberry
dtype: object

In [47]:
7. Exercises Part III

Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

letters = pd.Series([hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy])

Which letter occurs the most frequently in the letters Series?

Which letter occurs the Least frequently?

How many vowels are in the Series?

How many consonants are in the Series?

Create a Series that has all of the same letters but uppercased.

Create a bar plot of the frequencies of the 6 most commonly occuring letters.

Use pandas to create a Series named numbers from the following list:

['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

What is the data type of the numbers Series?

How many elements are in the number Series?

Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

Run the code to discover the maximum value from the Series.

Run the code to discover the minimum value from the Series.

What is the range of the values in the Series?

Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

Use pandas to create a Series named exam_scores from the following list:

[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

How many elements are in the exam_scores Series?

Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

SyntaxError: invalid syntax (2035707953.py, line 1)

SyntaxError: EOL while scanning string literal (1358997991.py, line 1)