In [1]:
mylist = [1,2,3]

In [3]:
#range() method selects the numbers up to 10 
#doesn't include 10

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
#range(3,10) starts at 3 but doesn't include 10
#3 is start 10 is stop.

for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
#range(3,10,2) 
#3 is start, 10 is stop, and 2 is step size.
#the step size is the number you are incrementing by

for num in range(3,10,2):
    print(num)

3
5
7
9

In [7]:
#you can cast the range in list
#to get your output as a list
list(range(3,10,2))

[3, 5, 7, 9]

In [8]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d
At index 0 the letter is e

In [9]:
#enumerate() can take in any iterable item 
#returns an index count as tupples
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [10]:
#enumerate() can take in any iterable item 
#returns an index count as tupples
#you can then break down and sort through the tupple at index 

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [11]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']

In [12]:
#zip joins to list and returns them as tuples
#zip will only join up to the smallest list length

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [13]:
#can use 'in' to check if something is there
'x' in [1,2,3]

False

In [14]:
'x' in ['x','y']

True

In [15]:
'mykey' in {'mykey':345}

True

In [16]:
#min function used to get min number
mylist = [10,11,12,13,]
min(mylist)

10

In [17]:
#max function used to get max number
max(mylist)

13

In [18]:
#importing 
from random import shuffle``

In [21]:
#shuffles the list
shuffle(mylist)

In [22]:
#shuffled list
mylist

[12, 10, 13, 11]

In [23]:
mylist

[12, 10, 13, 11]

In [24]:
#imports randint from random
from random import randint

In [26]:
#generates a random number
#you must pass in the number range like below
randint(0,100)

2

In [27]:
#input gets user input
#accepts input as a string
input('enter a number')

enter a number59

'59'